<div class="header">
  <!-- style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1478827387698-1527781a4887?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')" -->
  <h1>Myslands around the world</h1>

  <% if @islands.empty? %>
  <p>Sorry, we found no islands for you =(</p>
  <% else %>
  <p>Awesome islands for your next unique experience</p>
  <% end %>
</div>

<div class="cards-container">
  <% @islands.each do |island| %>
  <% background_url = island.image.attached? ? cl_image_path(island.image.key, width: 400, height: 300, crop: :fill) : 'https://source.unsplash.com/400x300/?island' %>
  <div class="card mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2)), url('<%= background_url %>');">
    <div class="card-description">
      <h2><%= island.name %></h2>
    </div>
    <%= link_to "", island_path(island), class: 'card-link' %>
  </div>
  <% end %>
</div>