<div class="container">

  <div class="banner banner-main" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'zunnoon-ahmed-06Fc_R9hA8w-unsplash.jpg' %>')">

    <div class="banner-content">

      <h1>Get to know MySland</h1>

      <div style="padding-bottom: 20px;">
        Welcome to the MySland Experience community. Wherever you go, we have an island for you.
      </div>

      <%= link_to "Explore an island to go!", islands_path, class: 'btn btn-primary' %>

    </div>
  </div>


</div>
