
<!-- <h1 style="color: #0278ae; font-size: 50px font-weight: bolder;" align="center">MYSLAND</h1> -->

<div class="d-flex justify-content-around banner" style="
  background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)),
  url(<%= image_path "ilhatop.jpg" %>)"
  >


  <div>
    <h1>MySland</h1>
    <p>Book a whole island, just for yourself!</p>
  </div>

  <div>
  <form>
    <!-- <label for="Search" style="font-size: 20px">Search now</label> -->
      <input type="text" name="Search" class="form-control" placeholder="Your private island">
  </form>

    <div class="col-auto my-2">
            <!-- <label class="mr-sm-2" for="inlineFormCustomSelect">Choose destination:</label> -->
            <!-- <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <option value="1">Central America</option>
              <option value="2">Maldives</option>
              <option value="3">Greece</option>
            </select> -->
          </div>
          <%= link_to "Search!", islands_path, class: 'btn btn-primary' %>
      </div>
  </div>
</div>
