
<!-- <h1 style="color: #0278ae; font-size: 50px font-weight: bolder;" align="center">MYSLAND</h1> -->

<div class="d-flex justify-content-around banner" style="
  background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5)),
  url(<%= image_path "ilhatop.jpg" %>)"
  >


  <div>
    <h1>MySland</h1>
    <p>Book a whole island, just for yourself!</p>
  </div>

  <div>
    <%= form_tag islands_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Your private island"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


