<h1 style="color: #0278ae; font-size: 50px" align="center">* MYSLAND *</h1>

<div class="d-flex justify-content-center banner mt-3" style="
   background-image: url(<%= image_path "ilhatop.jpg" %>)
">
  <div>
  <h1>Book a whole island, just for yourself!</h1>
</div>
<div>
  <form>
    <label for="Search" style="font-size: 20px">Search now</label>
      <input type="text" name="Search" class="form-control" placeholder="See all the option">
  </form>

  <div class="col-auto my-2">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Choose destination:</label>
          <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>Choose...</option>
            <option value="1">Central America</option>
            <option value="2">Maldives</option>
            <option value="3">Greece</option>
          </select>
        </div>
          <button type="button" class="btn btn-primary">Search</button>
  </div>
</div>



