<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <h2>Sua reserva de ilha Santorine</h2>
      <p><strong>Location:</strong> Grécia</p>
      <div class="island-image" style="background-image: url('https://source.unsplash.com/500x400/?island')"></div>
      <p>Descrição da ilha bla blab labl ab lab labl bal balba labl blab labl balbalb albal balb laba lbal ablabl bla blab lbal bal bal balb lblablbal</p>
    </div>
    <div class="col-6"> jude</div>
  </div>
</div>