
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
  color: white
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

// -------------------------------
  // # Cards do landing page
.card img {
  height: 100px;
  width: 100px;
}

.card p {
  opacity: .5;
}

.card {
  width: 260px;
  height: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
