.footer {
  text-align: center;
  padding: 10px;
  background-color: white;
}

.footer a {
  font-size: 30px;
  color:  #1EDD88;
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #BF0F12;
}
